---
import Layout from "src/layouts/Layout.astro";
---

<Layout title="Home" bodyColor="lightblue">
	<a href="/login">Do loginu</a>
	<a href="/announcements">announcements</a>
	<a href="/grades">grades</a>
	<a href="/attendance">attendance</a>
	<a href="/lessonplan">lessonplan</a>
	<a href="/about">about</a>
	<a href="/messages">messages</a>
	<a href="/timetable">timetable</a>
</Layout>
