---
import Layout from "../layouts/Layout.astro";
import Button from "@components/Button.astro";
---

<Layout title="Welcome to Astro.">
	<a href="/login">Do loginu</a>
</Layout>

<style lang="scss">
	h1 {
		font-size: var(--h6);
	}
</style>
