---
import Layout from "../layouts/Layout.astro";

import Notification from "@components/Notification.tsx";
---

<Layout title="Home" bodyColor="orange">
	<main>
		<Notification client:only="react" />
		<div>cos</div>
	</main>
</Layout>

<style lang="scss">
	main {
		display: flex;
		flex-direction: column;
		margin-inline: 2rem;
	}
	h1 {
		font-size: var(--h6);
	}
</style>
