---
interface Props {
	title: string;
	bodyColor: string;
}

const { title, bodyColor } = Astro.props;
import Header from "@components/Header.astro";
import Footer from "@components/Footer.astro";
import { ViewTransitions } from "astro:transitions";
---

<!doctype html>
<html lang="en">
	<head>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
		/>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<ViewTransitions />
		<title>{title} | Surbil</title>
	</head>
	<body class:list={bodyColor}>
		<Header />
		<slot />
		<Footer />
		<style is:global lang="scss">
			@use "../scss/index.scss";
			:root {
				--h1: 61px;
				--h2: 49px;
				--h3: 39px;
				--h4: 31px;
				--h5: 25px;
				--h6: 20px;
				--body: 16px;
				--neutral-50: #0d0d0d;
				--neutral-75: #131313;
				--neutral-100: #1a1a1a;
				--neutral-200: #333333;
				--neutral-300: #4d4d4d;
				--neutral-400: #666666;
				--neutral-500: #808080;
				--neutral-600: #999999;
				--neutral-700: #b3b3b3;
				--neutral-800: #cccccc;
				--neutral-900: #e6e6e6;
				--neutral-950: #f2f2f2;

				--primary-200: #63032d;
				--primary-300: #940543;
				--primary-400: #c60659;
				--primary-500: #f70870;
				--primary-600: #f9398c;
				--primary-700: #f9398c;

				--accent-200: #036063;
				--accent-300: #059094;
				--accent-400: #06bfc6;
				--accent-500: #08eff7;
				--accent-600: #39f2f9;

				--accent-yellow: #daa449;
				--accent-orange: #e39154;
				--accent-lightgreen: #5be354;
				--accent-lightblue: #54cee3;
				--accent-purple: #6854e3;
				--accent-pink: #eb36aa;
				--accent-red: #ea3d38;
				--accent-darkgreen: #002e00;
			}
			html {
				min-height: 100dvh;
			}
			main {
				margin-inline: 1rem;
			}
			body {
				font-size: 100%;
				font-family: "Roboto", sans-serif;
				background-color: var(--neutral-75);
				color: var(--neutral-950);
				position: relative;
				background-image: url(/bg-circle-primary-700.svg),
					url(/bg-circle-accent-600.svg);
				background-repeat: no-repeat;
				background-position:
					-100vw 40vh,
					50vw -40vh;
				&.orange {
					background-image: url(../images/bg-circle-accent-orange.svg),
						url(../images/bg-circle-accent-orange.svg);
				}
				&.pink {
					background-image: url(../images/bg-circle-accent-pink.svg),
						url(../images/bg-circle-accent-pink.svg);
				}
				&.red {
					background-image: url(../images/bg-circle-accent-red.svg),
						url(../images/bg-circle-accent-red.svg);
				}
				&.darkgreen {
					background-image: url(../images/bg-circle-accent-darkgreen.svg),
						url(../images/bg-circle-accent-darkgreen.svg);
				}
				&.lightgreen {
					background-image: url(../images/bg-circle-accent-lightgreen.svg),
						url(../images/bg-circle-accent-lightgreen.svg);
				}
				&.lightblue {
					background-image: url(../images/bg-circle-accent-lightblue.svg),
						url(../images/bg-circle-accent-lightblue.svg);
				}
				&.yellow {
					background-image: url(../images/bg-circle-accent-yellow.svg),
						url(../images/bg-circle-accent-yellow.svg);
				}
				&.purple {
					background-image: url(../images/bg-circle-accent-purple.svg),
						url(../images/bg-circle-accent-purple.svg);
				}
			}
			h1,
			h2,
			h3 {
				font-family: "Roboto Condensed", sans-serif;
			}
			@media only screen and (min-width: 375px) {
				main {
					margin-inline: 2rem;
				}
			}
			@media only screen and (min-width: 500px) {
				body {
					background-size: 150%, 100%;
					background-position:
						-80vw 50vh,
						50vw -20vh;
				}
			}
			@media only screen and (min-width: 768px) {
				main {
					margin-inline: 3.75rem;
				}
				body {
					background-size: 120%, 70%;
					background-position:
						30vw 50vh,
						-10vw -20vh;
				}
			}
			@media only screen and (min-width: 1024px) {
			}
			@media only screen and (min-width: 1366px) {
				main {
					margin-inline: 15vw;
				}
				body {
					background-size: 80%, 60%;
					background-position:
						50vw 40vh,
						-20vw -30vh;
				}
			}
			@media only screen and (min-width: 1920px) {
				body {
					background-size: 80%, 70%;
					background-position:
						50vw 40vh,
						-20vw -50vh;
				}
			}
			@media only screen and (min-width: 2560px) {
			}
			@media only screen and (min-width: 3840px) {
			}
		</style>
	</body>
</html>
